@import "tailwindcss";

@font-face {
    font-family: "Josefin"; /* Your custom font name */
    src: url("./assets/fonts/JosefinSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
/* Apply it to the whole app */
body {
font-family: "Josefin", sans-serif;
}
